<a href="https://colab.research.google.com/github/hatefap/CrackingTheInterview/blob/master/laser.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
import re
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [ ]:
!pip install laserembeddings

Requirement already satisfied: laserembeddings in /usr/local/lib/python3.7/dist-packages (1.1.1)
Requirement already satisfied: numpy<2.0.0,>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from laserembeddings) (1.19.5)
Requirement already satisfied: transliterate==1.10.2 in /usr/local/lib/python3.7/dist-packages (from laserembeddings) (1.10.2)
Requirement already satisfied: torch<2.0.0,>=1.0.1.post2 in /usr/local/lib/python3.7/dist-packages (from laserembeddings) (1.8.1+cu101)
Requirement already satisfied: subword-nmt<0.4.0,>=0.3.6 in /usr/local/lib/python3.7/dist-packages (from laserembeddings) (0.3.7)
Requirement already satisfied: sacremoses==0.0.35 in /usr/local/lib/python3.7/dist-packages (from laserembeddings) (0.0.35)
Requirement already satisfied: six>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from transliterate==1.10.2->laserembeddings) (1.15.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from torch<2.0.0,>=1.0.1.post2->laserembeddings) (3.7.4.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from sacremoses==0.0.35->laserembeddings) (4.41.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from sacremoses==0.0.35->laserembeddings) (1.0.1)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from sacremoses==0.0.35->laserembeddings) (7.1.2)

In [ ]:
!python -m laserembeddings download-models

Downloading models into /usr/local/lib/python3.7/dist-packages/laserembeddings/data

✅   Downloaded https://dl.fbaipublicfiles.com/laser/models/93langs.fcodes
✅   Downloaded https://dl.fbaipublicfiles.com/laser/models/93langs.fvocab
✅   Downloaded https://dl.fbaipublicfiles.com/laser/models/bilstm.93langs.2018-12-26.pt

✨ You're all set!

In [ ]:
from laserembeddings import Laser

In [ ]:
laser = Laser()

In [ ]:
farsi_path = "drive/MyDrive/final_final.csv"
english_path = "drive/MyDrive/my_final_english_hate.csv"
eng = pd.read_csv(english_path)
farsi = pd.read_csv(farsi_path)
farsi.head()

   id  ... ref3
0   0  ...  1.0
1   1  ...  0.0
2   2  ...  1.0
3   3  ...  0.0
4   4  ...  0.0

[5 rows x 9 columns]

In [ ]:
eng.head()

   Unnamed: 0                                              tweet  class
0           0                   "@USER @USER @USER queer" gaywad      1
1           1  "@USER @USER alsarabsss" hes a beaner smh you ...      1
2           2  "@USER @USER you're fucking gay, blacklisted h...      1
3           3  "@USER LMFAOOOO I HATE BLACK PEOPLE https://t....      1
4           4  "@USER "At least I'm not a nigger" http://t.co...      1

In [ ]:
eng = eng.drop("Unnamed: 0", axis=1)

In [ ]:
farsi = farsi[['norm_text', 'ref3']]
farsi.columns = ['tweet', 'class']
farsi.head()

                                               tweet  class
0  بچه‌های عزیز این کشتزار منو بلاک کرده یکی که د...    1.0
1   سیاسیون محترم از نمایندگان گرفته تا شهرداران ...    0.0
2  با اعدام مخالفم \n\nکاش راهکاری برای نابودی و ...    1.0
3  دونوع آدم داریم: یکی اونکه هیچی به کیرش نیست و...    0.0
4             هیچ زندانی بدتر از، دختر بودن، نیست ….    0.0

In [ ]:
farsi.tail()

                                                  tweet  class
5196  پسرا، هم جنسا، چرا دختر هرچی بددهن باشه و کصشع...    0.0
5197  هدایت و بازداشت شده است. \nامارات سیاست سکوت ر...    0.0
5198  عزیزان، کسی گفته کاربران توئیتر مستجاب الدعوه‌...    0.0
5199  میگن هیچ چیزی بدون دلیل نیست\nهمه چی دست به دس...    0.0
5200                                                NaN    NaN

In [ ]:
farsi = farsi.dropna()
farsi.tail()

                                                  tweet  class
5195  من ایشون میشناسم تو اینستام پیج داره تا جایی ک...    0.0
5196  پسرا، هم جنسا، چرا دختر هرچی بددهن باشه و کصشع...    0.0
5197  هدایت و بازداشت شده است. \nامارات سیاست سکوت ر...    0.0
5198  عزیزان، کسی گفته کاربران توئیتر مستجاب الدعوه‌...    0.0
5199  میگن هیچ چیزی بدون دلیل نیست\nهمه چی دست به دس...    0.0

In [ ]:
!pip install hazm

Requirement already satisfied: hazm in /usr/local/lib/python3.7/dist-packages (0.7.0)
Requirement already satisfied: nltk==3.3 in /usr/local/lib/python3.7/dist-packages (from hazm) (3.3)
Requirement already satisfied: libwapiti>=0.2.1; platform_system != "Windows" in /usr/local/lib/python3.7/dist-packages (from hazm) (0.2.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk==3.3->hazm) (1.15.0)

In [ ]:

def deEmojify(row):
    text = row.tweet
    regrex_pattern = re.compile(pattern = "["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           "]+", flags = re.UNICODE)
    return regrex_pattern.sub(r'',text)

In [ ]:
eng['tweet'] = eng.apply(deEmojify, axis=1)

In [ ]:
eng = eng.sample(frac=1).reset_index(drop=True)

In [ ]:
eng.head()

                                               tweet  class
0  Dear ,  ICC instead of banning MS Dhoni to wea...      0
1  @USER hey James your music still sucks, anyone...      1
2  Absolutely take it, Worst cricket world cup ev...      0
3  Changed in last five years     1.First decide ...      0
4  @USER Where are you? Why isn't this case with ...      1

In [ ]:
eng['embeddings'] = eng.apply(lambda row:laser.embed_sentences( [row.tweet]
    ,
    lang='en'), axis=1)

In [ ]:
eng['embeddings'] = eng.apply(lambda row:row.embeddings[0], axis=1)

In [ ]:
eng.head()

                                               tweet  ...                                         embeddings
0  Dear ,  ICC instead of banning MS Dhoni to wea...  ...  [0.0031174975, 0.0023718362, -0.0018391929, 0....
1  @USER hey James your music still sucks, anyone...  ...  [0.008926708, 0.010169069, -0.002842401, 0.008...
2  Absolutely take it, Worst cricket world cup ev...  ...  [0.012971832, -1.96477e-05, 0.040654447, 0.033...
3  Changed in last five years     1.First decide ...  ...  [0.047831852, 0.010176154, 7.78924e-05, -0.000...
4  @USER Where are you? Why isn't this case with ...  ...  [0.008555521, 0.0035703606, 0.0054964153, 0.01...

[5 rows x 3 columns]

In [ ]:
y = eng["class"]
x = eng[['tweet', 'embeddings']]

In [ ]:
# english
x_train =  pd.DataFrame(x['embeddings'].to_list())
y_train = y.astype(dtype='float32')

In [ ]:
x_train.head()

       0         1         2     ...      1021      1022      1023
0  0.003117  0.002372 -0.001839  ...  0.030277  0.031182  0.030853
1  0.008927  0.010169 -0.002842  ...  0.016052  0.023731  0.025050
2  0.012972 -0.000020  0.040654  ...  0.021583  0.010171  0.038417
3  0.047832  0.010176  0.000078  ...  0.066603  0.012784  0.033870
4  0.008556  0.003570  0.005496  ...  0.044516  0.026557  0.041415

[5 rows x 1024 columns]

In [ ]:
farsi['tweet'] = farsi.apply(deEmojify, axis=1)

In [ ]:
farsi = farsi.sample(frac=1).reset_index(drop=True)

In [ ]:
farsi.head()

                                               tweet  class
0  با این حال، شما کتاب «خداحافظ‌گری کوپر» را برد...    0.0
1  من تو این ٥ ماه متوجه شدم تمام بچه‌های اروپایی...    0.0
2  در کوردستان احزاب کوردستانی با مردم خود بیعت ت...    0.0
3  دختر آبی برای حقوق از دست رفته‌اش جنگید و به م...    0.0
4  بهترین موضع آمریکا در قبال توقیف نفتکش بریتانی...    1.0

In [ ]:
farsi['embeddings'] = farsi.apply(lambda row:laser.embed_sentences( [row.tweet]
    ,
    lang='pes'), axis=1)

In [ ]:
farsi.head()

                                               tweet  ...                                         embeddings
0  با این حال، شما کتاب «خداحافظ‌گری کوپر» را برد...  ...  [[0.014829095, 0.020921092, 0.0014574535, 0.00...
1  من تو این ٥ ماه متوجه شدم تمام بچه‌های اروپایی...  ...  [[0.016591031, 0.009440024, 0.0018926356, 0.01...
2  در کوردستان احزاب کوردستانی با مردم خود بیعت ت...  ...  [[0.005744106, 0.0065343273, 0.0020629675, 0.0...
3  دختر آبی برای حقوق از دست رفته‌اش جنگید و به م...  ...  [[0.012158961, -4.1281505e-06, 0.0028556427, 0...
4  بهترین موضع آمریکا در قبال توقیف نفتکش بریتانی...  ...  [[0.008261064, 0.0026255003, 0.0041782763, 0.0...

[5 rows x 3 columns]

In [ ]:
farsi['embeddings'] = farsi.apply(lambda row:row.embeddings[0], axis=1)

In [ ]:
farsi.head()

                                               tweet  ...                                         embeddings
0  با این حال، شما کتاب «خداحافظ‌گری کوپر» را برد...  ...  [0.014829095, 0.020921092, 0.0014574535, 0.006...
1  من تو این ٥ ماه متوجه شدم تمام بچه‌های اروپایی...  ...  [0.016591031, 0.009440024, 0.0018926356, 0.011...
2  در کوردستان احزاب کوردستانی با مردم خود بیعت ت...  ...  [0.005744106, 0.0065343273, 0.0020629675, 0.02...
3  دختر آبی برای حقوق از دست رفته‌اش جنگید و به م...  ...  [0.012158961, -4.1281505e-06, 0.0028556427, 0....
4  بهترین موضع آمریکا در قبال توقیف نفتکش بریتانی...  ...  [0.008261064, 0.0026255003, 0.0041782763, 0.01...

[5 rows x 3 columns]

In [ ]:
y_fa = farsi["class"]
x_fa = pd.DataFrame(farsi['embeddings'].to_list())

In [ ]:
x_tune, x_test, y_tune, y_test = train_test_split(x_fa, y_fa, test_size=0.4, random_state=101)

# New Section

In [ ]:
print(x_tune.shape, x_test.shape)

(3120, 1024) (2080, 1024)

In [ ]:
xx_train = x_train.values.tolist()
xx_test = x_test.values.tolist()
yy_train = y_train.values.astype(dtype='float32').tolist()
yy_test = y_test.values.astype(dtype='float32').tolist()
xx_tune = x_tune.values.tolist()
yy_tune = y_tune.values.tolist()

In [ ]:

import torch
cuda0 = torch.device('cuda:0')
xx_train = torch.tensor(xx_train, dtype=torch.float32, device=cuda0)
xx_test = torch.tensor(xx_test, dtype=torch.float32, device=cuda0)
yy_train = torch.tensor(yy_train, dtype=torch.float32, device=cuda0)
yy_test = torch.tensor(yy_test, dtype=torch.float32, device=cuda0)
xx_tune = torch.tensor(xx_tune, dtype=torch.float32, device=cuda0)
yy_tune = torch.tensor(yy_tune, dtype=torch.float32, device=cuda0)

In [ ]:
from torch import nn
torch.manual_seed(101)
class Network(nn.Module):
  def __init__(self):
    super().__init__()
    self.fc1 = nn.Linear(1024, 768)
    self.fc2 = nn.Linear(768, 128)
    self.fc3 = nn.Linear(128, 1)
    self.relu = nn.LeakyReLU()
    self.sigmoid = nn.Sigmoid()

  def forward(self, x):
    f1 = self.relu(self.fc1(x))
    f2 = self.relu(self.fc2(f1))
    output = self.fc3(f2)
    output = self.sigmoid(output)
    return output

In [ ]:
# we want to change network architeture change below

In [ ]:
# from torch import nn
# torch.manual_seed(101)
# class Network(nn.Module):
#   def __init__(self):
#     super().__init__()
#     self.fc1 = nn.Linear(1024, 768)
#     self.fc2 = nn.Linear(768, 1)
#   # self.fc3 = nn.Linear(128, 1)
#     self.relu = nn.LeakyReLU()
#     self.sigmoid = nn.Sigmoid()

#   def forward(self, x):
#     f1 = self.relu(self.fc1(x))
#   # f2 = self.relu(self.fc2(f1))
#     output = self.fc2(f1)
#     output = self.sigmoid(output)
#     return output

In [ ]:
model = Network()
model.to('cuda:0')

Network(
  (fc1): Linear(in_features=1024, out_features=768, bias=True)
  (fc2): Linear(in_features=768, out_features=128, bias=True)
  (fc3): Linear(in_features=128, out_features=1, bias=True)
  (relu): LeakyReLU(negative_slope=0.01)
  (sigmoid): Sigmoid()
)

In [ ]:

# define the optimizer
criterion = nn.BCELoss()
optimizer = torch.optim.AdamW(model.parameters(),
                  lr = 1e-5) 
n_epochs = 100 # or whatever
batch_size = 16 # or whatever

In [ ]:
xx_train.size()[0]

10853

In [ ]:
model.train()
torch.manual_seed(101)
for epoch in range(n_epochs):

    # X is a torch Variable
    #  permutation = torch.randperm(X.size()[0])

    for i in range(0,xx_train.size()[0], batch_size):
        optimizer.zero_grad()

        # indices = permutation[i:i+batch_size]
        batch_x, batch_y = xx_train[i:i+batch_size], yy_train[i:i+batch_size]

        # in case you wanted a semi-full example
        outputs = model.forward(batch_x)
        loss = criterion(outputs.squeeze(),batch_y)

        loss.backward()
        optimizer.step()

In [ ]:
model.eval()
y_pred = model(xx_tune)
y_pred = y_pred.squeeze()
y_pred = torch.round(y_pred)

In [ ]:
print(classification_report([int(i) for i in yy_tune], [int(j) for j in y_pred]))

              precision    recall  f1-score   support

           0       0.91      0.73      0.81      2654
           1       0.27      0.57      0.37       466

    accuracy                           0.71      3120
   macro avg       0.59      0.65      0.59      3120
weighted avg       0.81      0.71      0.74      3120

In [ ]:
# train using fine tune

In [ ]:
model.train()

for epoch in range(30):

    # X is a torch Variable
    #  permutation = torch.randperm(X.size()[0])

    for i in range(0,xx_tune.size()[0], batch_size):
        optimizer.zero_grad()

        # indices = permutation[i:i+batch_size]
        batch_x, batch_y = xx_tune[i:i+batch_size], yy_tune[i:i+batch_size]

        # in case you wanted a semi-full example
        outputs = model.forward(batch_x)
        loss = criterion(outputs.squeeze(),batch_y)

        loss.backward()
        optimizer.step()

In [ ]:
model.eval()
yy_pred = model(xx_test)
yy_pred = yy_pred.squeeze()
yy_pred = torch.round(yy_pred)

In [ ]:
print("result for testing against dataset")

result for testing against dataset

In [ ]:
print(classification_report([int(i) for i in yy_test], [int(j) for j in yy_pred]))

              precision    recall  f1-score   support

           0       0.90      0.96      0.93      1782
           1       0.61      0.34      0.44       298

    accuracy                           0.87      2080
   macro avg       0.75      0.65      0.68      2080
weighted avg       0.86      0.87      0.86      2080

In [ ]:
# lets see what happens if we dont use english dataset and only use farsi dataset

In [ ]:
model_farsi_only = Network()
model_farsi_only.to('cuda:0')

Network(
  (fc1): Linear(in_features=1024, out_features=768, bias=True)
  (fc2): Linear(in_features=768, out_features=128, bias=True)
  (fc3): Linear(in_features=128, out_features=1, bias=True)
  (relu): LeakyReLU(negative_slope=0.01)
  (sigmoid): Sigmoid()
)

In [ ]:
# define the optimizer
criterion = nn.BCELoss()
optimizer = torch.optim.AdamW(model_farsi_only.parameters(),
                  lr = 1e-5) 
n_epochs = 100 # or whatever
batch_size = 16 # or whatever

In [ ]:
model_farsi_only.train()
torch.manual_seed(101)
for epoch in range(n_epochs):

    # X is a torch Variable
    #  permutation = torch.randperm(X.size()[0])

    for i in range(0,xx_tune.size()[0], batch_size):
        optimizer.zero_grad()

        # indices = permutation[i:i+batch_size]
        batch_x, batch_y = xx_tune[i:i+batch_size], yy_tune[i:i+batch_size]

        # in case you wanted a semi-full example
        outputs = model_farsi_only.forward(batch_x)
        loss = criterion(outputs.squeeze(),batch_y)

        loss.backward()
        optimizer.step()

In [ ]:
model_farsi_only.eval()
yy_pred = model_farsi_only(xx_test)
yy_pred = yy_pred.squeeze()
yy_pred = torch.round(yy_pred)
print(classification_report([int(i) for i in yy_test], [int(j) for j in yy_pred]))

              precision    recall  f1-score   support

           0       0.90      0.97      0.93      1782
           1       0.67      0.36      0.47       298

    accuracy                           0.88      2080
   macro avg       0.79      0.66      0.70      2080
weighted avg       0.87      0.88      0.87      2080